.container {
  --padding: 15px;
  --max-width: 430px;

  margin-inline: auto;

  padding-inline: var(--padding);
  max-width: calc(var(--max-width) + var(--padding) * 2);
  width: 100%;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  background-color: var(--bg-black-500);

  padding-top: 24px;
  padding-bottom: 48px;
}
